# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# files
TechSystem26a1.cpp
TechSystem26a1.cpp:Zone.Identifier
TechSystem26a1.h
TechSystem26a1.h:Zone.Identifier
main26a1.cpp
main26a1.cpp:Zone.Identifier
run_tests.py
run_tests.py:Zone.Identifier
wet1util.h
wet1util.h:Zone.Identifier
.vscode/
CMakeLists.txt
build/
main.cpp
my_program
.idea/
Tests/